body{
     font-family: "Roboto", sans-serif;
     color: black;
     background-color: #F6F6F6;
}
input{
    width: 30%;
    border: 3px solid #A2D5C6;
    height: 35px;
    border-radius: 20px;
    background-color: #F6F6F6;
    font-size: large;
    padding-left: 9px;
}
#searchBtn{
    height: 44px;
    width: 6%;
    background-color: #F6F6F6;
    border: 3px solid #A2D5C6 ;
    border-radius: 20px;
    font-size: large;
}
#pageTitle{
    text-align: center;
}
.searchBox{
    text-align: center;
    margin-bottom: 20px;
}
.card{
    width: 60%;
    border-radius: 20px;
    border: 3px solid #A2D5C6;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}
.meaningDiv{
    margin: auto;
    text-align:start;
    width: 80%;
    border: 3px solid #A2D5C6;
    border-radius: 15px;
    margin-bottom: 10px;
    padding-left: 10px;
}
.gif{
    margin: 15px;
}
audio::-webkit-media-controls-panel {
  background-color: #e0efe6;

}
audio{
    border: 1px solid black;
    border-radius: 33px;
    margin-bottom: 10px;
}