body{
     font-family: "Roboto", sans-serif;
     color: black;
     background-color: #e7e7e7;
     background-image: url(bg2.jpg);
     background-blend-mode:overlay;
}
input{
    width: 30%;
    border: 3px solid #A2D5C6;
    height: 35px;
    border-radius: 20px;
    background-color: #F6F6F6;
    font-size: large;
    padding-left: 9px;
}
#searchBtn{
    height: 44px;
    width: 6%;
    background-color: #F6F6F6;
    border: 3px solid #A2D5C6 ;
    border-radius: 20px;
    font-size: large;
}
#pageTitle{
    text-align: center;
}
.searchBox{
    text-align: center;
    margin-bottom: 20px;
}
.card{
    width: 60%;
    border-radius: 20px;
    border: 3px solid #A2D5C6;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
    background-color: #F6F6F6;
}
.meaningDiv{
    margin: auto;
    text-align:start;
    width: 80%;
    border: 3px solid #A2D5C6;
    border-radius: 15px;
    margin-bottom: 10px;
    padding-left: 10px;
}
.gif{
    margin: 15px 15px 5px 15px;
    width: 90%;
}
audio::-webkit-media-controls-panel {
  background-color: #e0efe6;

}
audio{
    border: 1px solid black;
    border-radius: 33px;
    margin-bottom: 10px;
}
@media(min-width:300px) and (max-width:1226px){
    input {
        width: 90%;
        font-size:large;
        margin-bottom: 10px;
        text-align: center;
    }
    #searchBtn{
        font-size: large;
        width: 30%;
    }
    .searchBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card{
        width: 90%;
    }
}
@media(min-width:300px) and (max-width:630px){
    audio{
        width: 60%;
    }
}
#pageTitle{
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:70px;
  color: #24d19d;
  -webkit-text-stroke: 1px black;
  
}
.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin : auto;

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
